---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

# Professional Services

<div style="text-align:center;">
    <h2>Virtual University of Pakistan</h2>
    <a href="https://www.vu.edu.pk/" target="_blank">
        <img src="https://drive.google.com/thumbnail?id=1ZZ_zva8r9WwfPqovbJ1i9ikBq54ojht7" alt="Virtual University of Pakistan" style="width:200px;"/>
    </a>
    <p><strong>Position:</strong> Assistant Professor</p>
    <p><strong>Department:</strong> Computer Science</p>
    <p><strong>Dates:</strong> First-July 2021 - Ongoing</p>
    <p>The position involves teaching undergraduate and Master of Science courses while also serving as a Member of the Board of Study. Responsibilities include updating course materials for undergraduate programs, including Question Banks, to ensure alignment with educational standards and optimize student learning outcomes.</p>
</div>

<div style="text-align:center;">
    <h2>University of Haripur, Pakistan</h2>
    <a href="https://www.uoh.edu.pk/admissions/" target="_blank">
        <img src="https://drive.google.com/thumbnail?id=1P1TRZVgdko_NS1xBq7Di7shOc9X7eeFQ" alt="University of Haripur, Pakistan" style="width:200px;"/>
    </a>
    <p><strong>Position:</strong> Assistant Professor</p>
    <p><strong>Department:</strong> Information Technology</p>
    <p><strong>Dates:</strong> 22-Sept 2020 to 30 June 2021</p>
    <p>The role encompasses teaching undergraduate and Master of Science courses alongside active involvement in research projects.</p>
</div>

<div style="text-align:center;">
    <h2>Arid Agriculture University Rawalpindi</h2>
    <a href="https://www.uaar.edu.pk/index.php" target="_blank">
        <img src="https://drive.google.com/thumbnail?id=1e7B5NfyWLK614Vu9ROGG-JYWE1siSVa7" alt="Arid Agriculture University Rawalpindi" style="width:200px;"/>
    </a>
    <p><strong>Position:</strong> Visiting Faculty</p>
    <p><strong>Department:</strong> Information Technology</p>
    <p><strong>Dates:</strong> 30-Sept-2019 to 18-Feb-2020</p>
    <p>I instructed Introduction to Artificial Intelligence (AI) to Bachelor of Science in Information Technology (BSIT) students. This involved curating diverse assignments, quizzes, and materials accessible to all students via Moodle. Additionally, I provided guidance and supervision to students throughout the semester as they embarked on AI projects.</p>
</div>

<div style="text-align:center;">
    <h2>SZABIST (Islamabad)</h2>
    <a href="https://szabist-isb.edu.pk/" target="_blank">
        <img src="https://drive.google.com/thumbnail?id=1XwK8UaYrUfFAI-CRhn8i87v3G6qHBNtE" alt="SZABIST (Islamabad)" style="width:200px;"/>
    </a>
    <p><strong>Position:</strong> Visiting Faculty</p>
    <p><strong>Department:</strong> Data Science</p>
    <p><strong>Dates:</strong> 27-Jan-2020 to 25-May-2020</p>
    <p>As a Deep Learning instructor, I developed and delivered engaging lectures, assignments, and quizzes for Master of Science students, utilizing innovative teaching methods and Moodle to enhance learning. Additionally, I provided guidance and supervision to students throughout their final year thesis projects, fostering a supportive environment for research and academic excellence.</p>
</div>

<div style="text-align:center;">
    <h2>Khushali Bank (Pvt.) Ltd</h2>
    <a href="https://khushhalibank.com.pk/" target="_blank">
        <img src="https://drive.google.com/thumbnail?id=1sLrMUV1LK3JZao20w309_zNjGLSlhZtw" alt="Khushali Bank (Pvt.) Ltd" style="width:200px;"/>
    </a>
    <p><strong>Position:</strong> Data Center Officer</p>
    <p><strong>Department:</strong> Data Center</p>
    <p><strong>Dates:</strong> 2012-2014</p>
    <p>With a focus on IT infrastructure, I've adeptly configured and managed Active Directory, overseeing functions such as Print Servers and File Servers while ensuring robust NTFS permissions for data security. Proficiently handling Symantec Backup Servers, I've maintained data integrity and preparedness for disaster recovery scenarios.</p>
</div>

<div style="text-align:center;">
    <h2>PAF College Murree</h2>
    <a href="https://topians.edu.pk/" target="_blank">
        <img src="https://drive.google.com/thumbnail?id=1JCutS4lO7uNQQth2DfqIVgV8eYjzMdAI" alt="PAF College Murree" style="width:200px;"/>
    </a>
    <p><strong>Position:</strong> System Administrator</p>
    <p><strong>Dates:</strong> 2009-2011</p>
    <p>In my role as an educator, I've instructed first and second-year classes with a focus on delivering engaging and informative lessons. Additionally, I've taken charge of configuring and managing the PAF College online testing system, ensuring smooth operations and accessibility for students. Utilizing my expertise, I've implemented group policies and network security measures to safeguard sensitive data and maintain network integrity.</p>
</div>
